<main role="main" class="container">
  <div class="jumbotron">
    <div class="">
        <H2>Relatório</H2>
        <hr/>
    </div>
    <form action="">
        <div class="form-row">
            <div class="col-md-3 mb-3">
              <label for="validationCustom01">Data Inicio</label>
              <input type="date" class="form-control" id="validationCustom01" ng-model="relatorio.datainicio"  required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="validationCustom01">Data Final</label>
              <input type="date" class="form-control" id="validationCustom01"  ng-model="relatorio.datafim" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" ng-click="listarRegistros()" > Mostrar</button>
    </form>

    </div>
    
    <div ng-controller="relatorioController as ctrl">
      
      <table class="table table-bordered table-hover" >
        <thead class="table-head table-border">
            <th >Data </th>
            <th>Movimento </th>
            <th >Valor </th>
        </thead>
        <tbody>
          <tr ng-repeat="registro in registrots">
            <td>{{registro.data}}</td>
            <td>{{registro.movimento}}</td>
            <td>{{registro.valor}}</td>
            
          </tr>
         
        </tbody>

      </table>
      <table  class="table table-bordered table-hover">
        <thead class="table-head table-border ">
          <tr>
            <th>Total Entrada </th>
            <th>Total  Saida</th>
            <th>Resultado</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>

    </div>
  </div>
</main>